[submodule "external/ObjectState"]
	path = external/ObjectState
	url = https://github.com/trissim/ObjectState.git
[submodule "external/python-introspect"]
	path = external/python-introspect
	url = https://github.com/trissim/python-introspect.git
[submodule "external/pyqt-formgen"]
	path = external/pyqt-formgen
	url = https://github.com/trissim/pyqt-formgen.git
[submodule "external/arraybridge"]
	path = external/arraybridge
	url = https://github.com/trissim/arraybridge.git
[submodule "external/metaclass-registry"]
	path = external/metaclass-registry
	url = https://github.com/trissim/metaclass-registry.git
[submodule "external/zmqruntime"]
	path = external/zmqruntime
	url = https://github.com/trissim/zmqruntime
	branch = main
